#wrapper-intro {
    background:url('../img/bg.jpg') center center no-repeat;
    height: 100%;
    background-size: cover;
    padding-bottom: 20px;
  }

/*#background-intro {
  background:url('../img/bg.jpg') center center no-repeat;
  height: 100%;
  background-size: cover;
}*/

@media(max-width:768px) {
  #logo img {
    width:50%
  }

  #intro p {
    font-size: 1em !important;
  }

  #icons .fa {
    margin:3px 10px !important;
    font-size:2.5em;
  }
}

@media(min-width:375px)
  and (max-width:670px) {
    #logo img {
      width:30%;
    }
}

#logo img {
  margin: 0 auto;
  padding-top: 20px;
}

#intro .row {
  background-color: rgba(106, 115, 124, 0.8);
}

#intro p {
  color: white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  font-weight: bold;
}

#wrapper-carousel {
  margin: auto;
}

.carousel {
  width: 80%;
  margin: 0 auto;
}

.carousel img {
  width: 100%;
  margin: auto;
}

#icons {
  text-align: center;
}

#icons .fa {
  color: grey;
  margin: 5px 15px;
  position:relative;
  bottom:0;
  transition:all 0.2s ease-in-out;
}

#icons .twitter:hover {
  color:#6cadde;
  bottom:5px;
}

#icons .github:hover {
  color:#333;
  bottom:5px;
}

#icons .linkedin:hover {
  color:#0077B5;
  bottom:5px;
}
