body {
  background-color: #E5E5E5;
}

.border {
  margin: 10px;
}

#wrapper-intro {
    background:url('../img/bg.jpg') center center no-repeat;
    height: 100%;
    background-size: cover;
    padding-bottom: 20px;
    box-shadow: 2px 2px 10px black;
  }

@media(min-width:768px) {
  .border{
    max-width: 80%;
    margin: auto;
  }
}

@media(min-width:1080px) {
  .border{
    max-width: 70%;
    margin: auto;
  }
}
@media(min-width:1440px) {
  .border{
    max-width: 60%;
    margin: auto;
  }
}

@media(max-width:768px) {
  #logo img {
    width:50%
  }

  #intro p {
    font-size: 1em !important;
  }

  #icons .fa {
    margin:3px 10px !important;
    font-size:2.5em;
  }

  .cardboard-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.8em;
  }

  #me {
    border-width: 5px !important;
  }
}

@media(min-width:375px)
  and (max-width:670px) {
    #logo img {
      width:30%;
    }
}

#logo img {
  margin: 0 auto;
  padding-top: 20px;
}

#intro .row {
  background-color: rgba(252,163,17, 0.8);
}

#intro p {
  color: white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  font-weight: bold;
}

#title-me .about-picture {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#title-me .text-about {
  color: white;
}

#title-me img {
  max-width: 50%;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: #E5E5E5;
  display: inline-block;
}

#title-me .about-text-col {
  text-align: center;

}

#icons {
  text-align: center;
  margin-top: 15px;
}

#icons .fa {
  color: grey;
  margin: 5px 15px;
  position:relative;
  bottom:0;
  transition:all 0.2s ease-in-out;
}

#icons .twitter:hover {
  color:#6cadde;
  bottom:5px;
}

#icons .github:hover {
  color:#333;
  bottom:5px;
}

#icons .linkedin:hover {
  color:#0077B5;
  bottom:5px;
}

#title-me {
  background-color: rgba(20,33,61, .8);
  box-shadow: 2px 2px 10px black;
}

.title {
  text-align: center;
  transition:all 0.5s ease-in-out;
}

.title:hover {
  color: #E5E5E5;
}

p {
  text-align: center;
  padding: 5px;
}

#me .expertise-block {
  text-align: center;
}

#me {
  background:url('../img/white.jpg') center center;
  box-shadow: 2px 2px 10px black;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 10px;
}

#me .card {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: #FCA311;
  /*box-shadow: 2px 2px 10px black;*/
}

#me .card-middle {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #FCA311;
  box-shadow: 2px 2px 10px black;
}

#me .card:hover {
  background-color: #14213D;
  box-shadow: 2px 2px 10px black;
  color: white;
}

#me .card:hover .title {
  color: #E5E5E5;
}

.cardboard-title {
  font-family: 'Amatic SC', cursive;
  color: #14213D;
  font-size: 3em;

}

.purple {
  color: #14213D;
}

.yellow {
  color: #E5E5E5;
}
