body {
  background-color: #ECD078;
}

.border {
  margin: 10px;
}

#wrapper-intro {
    background:url('../img/bg.jpg') center center no-repeat;
    height: 100%;
    background-size: cover;
    padding-bottom: 20px;
    box-shadow: 2px 2px 10px black;
  }

@media(max-width:768px) {
  #logo img {
    width:50%
  }

  #intro p {
    font-size: 1em !important;
  }

  #icons .fa {
    margin:3px 10px !important;
    font-size:2.5em;
  }

  .cardboard-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.8em;
    color: rgba(236, 208, 120, 0.5);
    text-shadow: 1px 4px 0px #ecd078, 0px 0px 0px #000, 1px 4px 0px #ecd078
  }
}

@media(min-width:375px)
  and (max-width:670px) {
    #logo img {
      width:30%;
    }
}

#logo img {
  margin: 0 auto;
  padding-top: 20px;
}

#intro .row {
  background-color: rgba(217, 91, 67, 0.8);
}

#intro p {
  color: white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  font-weight: bold;
}

/*#wrapper-carousel {
  margin: auto;
}

.carousel {
  width: 80%;
  margin: 0 auto;
}

.carousel img {
  width: 100%;
  margin: auto;
}*/

#icons {
  text-align: center;
  margin-top: 15px;
}

#icons .fa {
  color: grey;
  margin: 5px 15px;
  position:relative;
  bottom:0;
  transition:all 0.2s ease-in-out;
}

#icons .twitter:hover {
  color:#6cadde;
  bottom:5px;
}

#icons .github:hover {
  color:#333;
  bottom:5px;
}

#icons .linkedin:hover {
  color:#0077B5;
  bottom:5px;
}

#title-me {
  background-color: rgba(83,119,122, .6);
  box-shadow: 2px 2px 10px black;
}

.title {
  text-align: center;
  transition:all 0.8s ease-in-out;
}

.title:hover {
  color: #ECD078;
}

p {
  text-align: center;
  padding: 5px;
}

#me .expertise-block {
  text-align: center;
}

#me {
  background:url('../img/cardboard-texture.jpg') center center;
  box-shadow: 2px 2px 10px black;
  padding-top: 10px;
  padding-bottom: 10px;
}

#me .card {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: #D95B43;
  box-shadow: 2px 2px 10px black;
}

#me .card-middle {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #D95B43;
  box-shadow: 2px 2px 10px black;
}

#me .card:hover {
  background-color: #c43115;
  box-shadow: 2px 2px 10px black;
  color: white;
}

.cardboard-title {
  font-family: 'Press Start 2P', cursive;
  color: rgba(236, 208, 120, 0.5);
  text-shadow: 1px 4px 0px #ecd078, 0px 0px 0px #000, 1px 4px 0px #ecd078
}

.purple {
  color: #3d1d2a;
}

.yellow {
  color: #ECD078;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
